build/
bin/
out/

CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

.vscode/
.idea/
*.vscode/
*.sublime-workspace
*.sublime-project

*.o
*.obj
*.exe
*.out
*.app
# *.dll
*.so
*.dylib
# *.a
*.lib

*.log

.DS_Store
Thumbs.db

*.bak
*.swp
*.tmp
*.class
*.jar
*.db

*.gdb
